{%extends 'home.html'%}
{% load static %}
{%block content%}
<div class='col-sm-6 col-sm-offset-3'>
    {% if request.user == object.user %}
        <p>Are you sure you want to delete this object?</p>
        {{warning}}
        <form  method="POST">
            {% csrf_token %}
            <input class="btn btn--sub btn--lg  my-md" type="submit" value="Delete" />
            <a type="button" class="btn btn-primary" href="{% url 'user-vacation' %}">&#x2190 Go Back</a>
        </form>
    {% else %}
        <h4>You're not allowed to be here.</h4>
        <a  class="btn btn-primary" href="{% url 'login' %}">Login here</a>
    {% endif %}
</div>
{%endblock content%}